<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpressMvvm" version="22.1.3" targetFramework="net48" />
  <package id="Extended.Wpf.Toolkit" version="4.4.0" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="6.1.1" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.Data.WPF" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.Pdf.Wpf" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.PdfViewer.WPF" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.SfGrid.WPF" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.SfSkinManager.WPF" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.SfTextInputLayout.WPF" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.Themes.FluentLight.WPF" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.Themes.Office2019Black.WPF" version="20.3.0.52" targetFramework="net48" />
  <package id="Syncfusion.Tools.WPF" version="20.3.0.52" targetFramework="net48" />
</packages>